body {
    margin: 0;
    padding: 30px;

    background-image: url("/images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    background-size: 100% 400px;

    display: flex;
    flex-direction: column;

    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    font-size: 13px;
}

.add-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.add-new input {
    margin-top: 20px;
    padding: 20px;
    padding-left: 50px;
    width: 100%;

    border-radius: 5px;
    border: none;
    outline: none;

    font-family: 'Josefin Sans', sans-serif;
    color: grey;

    background-image: url("/images/circle-outline.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px;
}

.add-new button {
    display: none;
}

.todo-list {
    padding: 15px 20px 0px 5px;
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.strike-through {
    text-decoration: line-through;
    color: hsl(0, 0%, 78%);
}

.empty-circle {
    width: 25px;
    cursor: pointer;
}

.checked-circle {
    width: 25px;
    border-radius: 15px;
    background: url("/images/icon-check.svg"), linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.cross {
    margin-left: auto;
    cursor: pointer;
}

.bottom-row {
    padding: 15px 0px 10px 15px;
    display: flex;
    justify-content: space-between;
}

.clear-completed {
    cursor: pointer;
}

.clear-completed:hover {
    color: hsl(220, 98%, 61%);
}

.filter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.filter p:hover {
    color: hsl(220, 98%, 61%);
}

.footer {
    margin-top: 50px;
    margin-left: 20%;
}
