.login-register {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social-login {
    margin-top: 25px;
    font-size: 9px;
}

.github-google {
    display: flex;
    align-items: center;
    gap: 20px;
}

.github, .google {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__not-logged-in h3 {
    font-size: 18px;
}

.header__not-logged-in h3:hover {
    color: lightgrey;
    cursor: pointer;
}

.header__logged-in {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-form, .login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

.login-form ion-icon, .register-form ion-icon {
    font-size: 30px;
}

.login-form ion-icon:hover, .register-form ion-icon:hover {
    color: lightgrey;
    cursor: pointer;
}

.register-form input, .login-form input {
    padding: 10px;

    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    outline: none;

    font-family: 'Josefin Sans', sans-serif;
    color: grey;
}

.register-form input[type=submit]:hover, 
.login-form input[type=submit]:hover {
    cursor: pointer;
}