.register-form, .login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

.login-form ion-icon, .register-form ion-icon {
    font-size: 30px;
}

.login-form ion-icon:hover, .register-form ion-icon:hover {
    color: lightgrey;
    cursor: pointer;
}

.register-form input, .login-form input {
    padding: 10px;

    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    outline: none;

    font-family: 'Josefin Sans', sans-serif;
    color: grey;
}

.register-form input[type=submit]:hover, 
.login-form input[type=submit]:hover {
    cursor: pointer;
}